body{
    background-image: url('https://westeurope1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Falqudscollege-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!jNl8zjJmE0Sm6pzqg6gJnHBSMXDqv6xPmCtbFEnppD87fmdYZuYeS5GxfAL39x60%2Fitems%2F016DGNV4LIOVDB4ZV4KBHZMHWGWXG4ZSTW%3Fversion%3DPublished&encodeFailures=1&ctag=%22c%3A%7B1E467568-BC66-4F50-961E-C6B5CDCCCA76%7D%2C1%22&width=896&height=595&srcWidth=2938&srcHeight=1953');
    background-size: cover;
}

header{
    font-family: 'Indie Flower', cursive;
    width: 100%;
    background-color: #00000096;
    text-align: center;
    margin-bottom: 150px;
    height: 60px;
}

header h1{
    font-size: 30px;
    padding-top: 15px;
    color: #fff;
}


#form{

    width: 25%;
    float: left;

    margin-left: 60px;
    margin-right: 90px;
    background-color: #00000096;
    padding: 30px;
    color: #fff;
    text-align: center;
}

#form h1{
    font-size: 25px;
    padding: 10px;
}

#form label{
    
}

input ,select{
    text-align: left;
    margin: 10px;
}

#form button{
    padding-left: 60px;
    padding-right: 60px;
    margin: 20px;
}


#employeeInfo{
    width: 36%;
    float: right;
    background-color: #00000096;

    margin-right: 250px;
    color: #fff;
    padding: 20px;
}

#employeeInfo table, th, td {
    border: 2px solid #fff;
    padding: 10px;
}

#total{
    border: 2px solid #fff;
    padding: 10px;
    width: 120px;
    margin-top: 20px;
    text-align: center;
}



main{
    margin-bottom: 300px;
}

footer{
    clear: both;
    text-align: center;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 5px;
    left: 50%;
    
}

footer h1 {
    text-align: center;
}
